.fw-600 {
    font-weight: var(--f-weight-600);
}



// TEXT COLORS //

.dark-blue {
    color: var(--clr-very-dark-blue);
}

.gray-blue {
    color: var(--clr-grayish-blue);
}




// Other shit //

.center-item {
    margin: 0 auto;
}